# PROGRAM2

In [1]:
import numpy as np
import pandas as pd

data={'English':{'Sam':60,'Jackson':74,'Ahree':85},
'History':{'Gloria':83,'Sam':65,'Isla':78,'Aron':72,'Gray':61
},'Geography':{'Jackson':92,'Gloria':95,'Isla':82,'Aron':75,'Ahree':76},
      'Mathematics':{'Sam':99,'Gloria':74,'Jackson':89,'Ahree':85,'Gray':95},
'Science':{'Sam':89,'Aron':82,'Gray':78,'Isla':93,'Ahree':87}}
print(pd.Series(data))

English                  {'Sam': 60, 'Jackson': 74, 'Ahree': 85}
History        {'Gloria': 83, 'Sam': 65, 'Isla': 78, 'Aron': ...
Geography      {'Jackson': 92, 'Gloria': 95, 'Isla': 82, 'Aro...
Mathematics    {'Sam': 99, 'Gloria': 74, 'Jackson': 89, 'Ahre...
Science        {'Sam': 89, 'Aron': 82, 'Gray': 78, 'Isla': 93...
dtype: object

In [12]:
g=pd.DataFrame(data,columns=['English','History','Geography','Mathematics','Science'])
print(g.fillna(0))

         English  History  Geography  Mathematics  Science
Sam         60.0     65.0        0.0         99.0     89.0
Jackson     74.0      0.0       92.0         89.0      0.0
Ahree       85.0      0.0       76.0         85.0     87.0
Gloria       0.0     83.0       95.0         74.0      0.0
Isla         0.0     78.0       82.0          0.0     93.0
Aron         0.0     72.0       75.0          0.0     82.0
Gray         0.0     61.0        0.0         95.0     78.0

In [13]:
p=g.T.fillna(0)
p['Average']=p['Sam']+p['Jackson']+p['Ahree']+p['Gloria']+p['Isla']+p['Aron']+p['Gray']
print(p)

              Sam  Jackson  Ahree  Gloria  Isla  Aron  Gray  Average
English      60.0     74.0   85.0     0.0   0.0   0.0   0.0    219.0
History      65.0      0.0    0.0    83.0  78.0  72.0  61.0    359.0
Geography     0.0     92.0   76.0    95.0  82.0  75.0   0.0    420.0
Mathematics  99.0     89.0   85.0    74.0   0.0   0.0  95.0    442.0
Science      89.0      0.0   87.0     0.0  93.0  82.0  78.0    429.0